
:root {
    --myfont:Arial, Helvetica, sans-serif;
  }


body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    overflow-x: hidden;
    
}

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    width: 100%;
    grid-auto-flow: dense;

  }
  .grid-item {
      height: 200px;
      border: 0px solid rgb(29, 28, 28);
      color:white;
      font-size: 8em;
      text-align: center;
      float: left;
  }

#box1{
      grid-column: 1/5;
      height: 50px;
      font-size: 18px;
      color: white;
      background-color: rgb(12, 12, 12);
      margin-bottom: 5px;
      display: flex;

  }
  .heading{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(255, 255, 255);
      margin: 0px 10px;
      font-size: .8em;
      font-style:normal;
      font-weight: bold;
      font-stretch: normal;
      cursor: pointer;
  }

  .navMobile{
      display:none;
  }
  /*/font awesome*/
#favcon{
    color:rgb(238, 229, 229); 
    font-size: 20px; 
    position:relative;
     top: 2px;
     padding:0px 5px;
}

#anglefav{
   color:rgb(238, 229, 229);
}

#search{
    font-size: 26px;
    right: 200px;
    position: relative;
}

.rightItems{
      position:absolute;
      
     right: 0;
     padding: 0px 20px;
 }

 .left{
     margin-left: 30px;
 }

 /* Box 2 starts from here */

 #box2{
    grid-column: 1/5;
    height: 100px;
    font-size: 18px;
    color: white;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    display: flex;

}

#Logodiv{
    width: 200px;
    height: 80px;
    align-items: center;
    margin:10px 0px 0px 40px;

}
#box2 > #logo-image{
   max-width:200px;
    height: 100px;
    margin-left: 30px;
}
#box3{
    grid-column: 1/5;
    width: 100%;
    height: 50px;
    background-color:#008dc9;
    font-size: 20px;
    color: #000;
   display: flex;
   position: relative;

}

.nav{
    display: flex;
    grid-template-columns: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
  

}


.navItems{
    margin: 14px 17px;
    font-size: 18px;
    position: relative;
    top:1px;
    
}



/* Mobile nav starts here */

.navMobile{
    background-color: #008dc9;
    width: 50px;
    height: 40px;;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

.navMobile .shapes{
    width: 32px;
    height: 5px;
    background-color:white;
    margin: 6px 5px 5px 9px;
    justify-items: center;
    border-radius: 5px;
}

/* Mobile nav Ends here */


.navLink{
    text-decoration: none;
    color: white;
    padding: 14px 12px;
    vertical-align: middle;
}

.navLink:hover{
    background-color: #d86422;
}

#Home{
    font-size: 1.8em;
    position: relative;
    top: -5px;
    margin-left: 10px;
}


/* Box 4 starts here */
#box4{
    display: flex;
    margin-top: 30px;
    grid-column: 1/5;
    font-size: 20px;
    color: #000;
    height: auto;
  
}

.divContaner{
    width:100%;
    height: auto;
    border: solid 0px black;
    box-sizing: border-box;
    display: flex;
    margin: 0px 10px 0px 10px;
}


.details{
    position: relative;
    top:19px ;
    width: 50%;
    height: 355px;
    background-color:#d82138;
    
}

.box4Contents{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.external-ref{
    width: 50%;
    height: 390px;
    border: solid 0px black;
    background-color: white;
    margin: 20px;
}

#Emergency{
    font-size:18px;
    font-weight: bold;
    word-spacing:inherit;
    margin-top: 10px;
    margin-right:60px;
}

hr{
  width: 73%;
  position:relative;
  right:31px;
  height:1.2px;
  background-color: ivory;

}

#covidText{
    right: 20px;
    font-size: 28px;
    position: relative;
    top: 40px;
}

#btn-Allinfo{
    position: relative;
    top: 120px;
    width: 190px;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: bold;
    font-size: 16px;
    color:#e71b36;
    background-color: white;
    outline: none;
    left: -28px;
    border-style: none;
}



.websrc{
    padding: 0px;
    justify-content: left;
    width: 50%;
}

.outerLink{
    background-color: rgb(224, 220, 220);
    width: auto;
    border: solid 0px black;
    height: 51px;
    
}

.txt{
    width:auto;
    height: 49px;
    background-color: rgb(250, 250, 250);
    margin: 0px;
    padding-top: 15px;
    border-bottom: solid 0px black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 8px;
    position: relative;
    font-weight: bold;
    font-size: 15px;
}

#c_ange{
    color:#008dc9;
    font-size: 20px;
    position: relative;
    float: right ;
    padding-right: 10px;
}

.iconstyle{
    color: red;
    float:right;
    padding-right: 10px;
}

.txt:hover{
    cursor: pointer;
    border-left: 4px solid rgb(207, 31, 31);
}

.imgwho{
    max-width: 100%;
    height: auto;
}

#secondhr{
    width: 100%;
    margin-left: 35px;
    position: relative;
    bottom: 10px;
    height:3px;
    background-color: rgb(235, 29, 29);

}

#textHeading{
    position: relative;
    bottom: 22px;
    left: 12px;
    padding-right: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 35, 35);
}

#text-details{ 
    position: relative;
    bottom: 40px;
    text-align: left;
    font-size: 18px;
    padding: 10px 40px 0px 10px;
    
}

#box5{
    grid-column: 1/5;
    border-bottom: 0.1px solid rgb(224, 222, 222);      
    margin: 0px 20px;
    display: flex;
    font-size: 25px;
    height: 60px;
    color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    position:relative;
}

#newsArrow{
    position: absolute;
    right: 0;
    color: #008dc9;
}

.change{
    font-size: 17px;
}


/* Images */
.img-divs{
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
  
}

.group{
    margin: 24px 18px;
    height: auto;
    background-color:#fafafa;
    border-radius: 10px 30px 0px 0px;
    border-radius: 10px;
}

.group:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(199, 196, 196);
}

.txt-news{
    font-size: 15px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 8px;
}

.txt-style{
    width: 280px;
    height: auto;
    font-size: 20px;
    color: rgb(56, 55, 55);
    padding-left: 10px;
}



.txt-txt{
    text-align: left;
    font-weight: bolder;
    line-height: 24px;
}
.last{
    height: 33vh;
}

/* Div11 */
.box11{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90px;
    box-sizing: border-box;
    border: 0px;
}
.box11 .Htext{
    width: 100%;
    margin: 10px 13px;
    box-sizing: border-box;
    color: rgb(88, 85, 85);
    font-size: 3.2vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-bottom:solid 1px rgb(224, 220, 220);
    padding-left: 15px;
    vertical-align:bottom;

   
    
}
.h3text{

    position: relative;
    top: 20px;
    
}

.grid-container >.box10{
    grid-column: 1/5;
    margin: 10px;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    height: 430px;
    border: solid 0px black;
    box-sizing:content-box;
    gap: 8px;
}



.colum{
    
    border: solid 0px rgb(201, 32, 32);
    height: 100%;
    width: 97%;
    position: relative;
    margin: auto;
    
}

#scienceImg{
    background-image: url(../images/science.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

#workersImg{
    background-image: url(../images/workers.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

#syringeImg{
    background-image: url(../images/syringe.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

#yHeadertext{
    font-size:8vh;
    line-height: 9vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:20px;
    top: 70px;
}

#RemoveableLine{
    display: none;
}

.yHeadertextBu{
   width: 150px;
   height: 40px;
   font-size: 15px;
   color: white;
   border-radius: 7px;
   outline: none;
   border-style: none;
   background-color: #d86422;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   top:40px;
   right: 100px;
}

.yHeadertextBu:hover{
    cursor: pointer;
    background-color: white;
    border: solid 1px  #d86422;
    color: #d86422;
}

#highlightStyle{
    background-color:rgba(0,126,180,0.85);
}


.box12{
    grid-column: 1/5;
    /* margin: 50px 10px; */
    margin-bottom: 0px;
    margin-top:50px;
    margin-left: 10px;
    margin-right:10px;  
    height: 100px;
    color: rgb(58, 56, 56);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   position: relative;
   padding: 0px 130px;
   text-align: left;
   font-style: italic;
}

#pubstyle{
    color:rgba(0,126,180,0.85);
}

.box13{
    grid-column: 1/5;
    display: flex;
    height: 320px;
}
.box13 > .colum2{
    width: 100%;
    height: auto;
    border:solid 0px black;
    margin: 0px 17px ;
    position: relative;

}

#video-thumbnail{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing:content-box;
  
}

#library2{
    background-image: url(../images/library2.jpeg);
    background-position: center;
    background-size: cover;
    background-position: center center;
    height:100%;
    position: relative;
    
}

#president{
    background-image: url(../images/president.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;
   
}

.library-content{
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color:rgba(0,126,180,1);
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    text-align: left;
    transition: all 0.3s ease;
    
}


.items_Link{
    position: relative;
    bottom: 0px;
    padding-left:20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.other{
    background-color:#d86422;
}
.other:hover{
    background-color:#bd4c0a;
}
.other2:hover{
    background-color:rgb(18, 145, 199);
}

.items_Link:hover{
    text-decoration: underline;  
}
/* @keyframes hover-animation{
    0%{
      background: #2d2e31;
    }
    100%{
        background: linear-gradient(45deg,#36D8FF, #00acee, #66757f);
      }
} */

.colum2:hover{
    background-color: white !important;
    opacity: 0.9;
    cursor:pointer;

    
}

.box14{
    grid-column:1/5;
    display: flex;
    height: 350px;
}

.events{
    width: 100%;
    
    border: solid 0px black;
    margin: 0px 20px 0px 17px;
}

#eImg{
    background-image: url(../images/people.jpg);
 
    background-position: center center;
    background-size:contain;
    background-clip:border-box;
    background-position-y: -0px;
    position: relative;
    
}

#only-diff{
   height: 70px;
   
}
.new-rule{
    position: relative;
    bottom: 10px;
}

#eImg:hover{
    background-color: rgb(255, 255, 255) !important;
    opacity: 0.9;
    cursor: pointer;
}

.events{
    padding: 0;
}

#dateSStartEnd{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-bottom: 15px;
}

.assocLinks{
    width: 100%;
    height: 105px;
    border:solid 0px black;
    box-sizing: border-box;
    margin: 0px 10px 17px 10px;
    display: flex;
    box-shadow: 1px 1px  2px rgb(172, 165, 165);
}

.assocLinks:hover{
    box-shadow: 0px 5px  10px rgb(209, 203, 203);
}




.smallDiv{
   width:20%;
   height: 100px;
   border: solid 0px black;
   background-color: #ffffff;
   box-sizing: border-box;
   position: relative;
   padding: 0px;

}

.smallDiv:hover{
    background-color: rgb(255, 255, 255) !important;
    opacity: 0.9;
    cursor:pointer;
}

.one{
    background-image: url(../images/event.png);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding: 10px;
    width:15%;
    
  


}

.assocLinks > .two{
    background-image: url(../images/event.png);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding: 10px;
    width:15%;

}


.assocLinks > .Three{
    background-image: url(../images/english-whd-2021-lr-01.png) , linear-gradient(to right, rgba(0,0,0,0), rgb(216, 240, 216));
    background-size: 100%;
    background-repeat:no-repeat;
    background-position-y: -20px;
    box-sizing: border-box;
    padding: 10px;
    border: solid 0px black;
    height:100%;
    width:15%;
    position: relative;
    

}


.smallDivitems{
    width: 87%;
    color: rgb(12, 12, 12);
    border: solid 0px black;


}

.smallDivitems > .text{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 12, 12) !important;
    border: solid 0px black;
    

   
}

#linkDate{
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    padding-right:0px;
}

.EventCaption{
    font-weight: bold;
    font-family: var(--myfont);
    color: rgb(61, 60, 60) !important;
    margin-bottom: 5px;
}

.smallText{
    color: rgb(105, 102, 102);
    
}

.EventCaption > a{
    color: rgb(61, 60, 60) !important;
}

.EventCaption > a:hover{
    color: rgb(61, 60, 60) !important;
    text-decoration: underline;
}

.box15{
    margin-top: 60px;
    grid-column:1/5;
    background-color:rgba(0,126,180,1); 
    height:auto;
}

.box15_div{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 100%;
    border: solid 0px rgb(44, 44, 44);
    box-sizing: border-box;
   
}

.box15Items{
    width: 100%;
    height:auto;
    border: solid 0px rgb(29, 28, 28);
    font-size: 16px;
    font-family: var(--myfont);
    text-align: left;
    padding-top: 20px;
}
.box15Items :first-child:hover{

    color: #d86422;
    
}
.box15Items h4{
       font-size: 1.3em;
       
       
}

.move{
    position: relative;
    left: 30px;
}

#box15ItemButton{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(66, 64, 64);
    font-size: 1.1em;
    color: rgb(255, 247, 247);
    font-size: bold;
    margin-top: 20px;
    outline: none;
}

.changes{
    width: 100%;
    grid-column: 1/5;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
    

}

.changes .ImgLast{
    width: 50%;
    height: 100px;
    border: solid 0px black;
    background-image: url(../images/h-logo-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:center;
    color: blanchedalmond;
    margin: auto;

}

.box16{
    width: 100%;
    height: auto;
    grid-column: 1/5;
    box-sizing: border-box;
    background-color: #20313b;
    display: flex;
    justify-content:space-around;
    
    
}

.footerItems{
    font-size: 25px;
    font-family: var(--myfont);
    border: solid 0px black;
    display:flex;
    box-sizing: border-box;    
}

.wificon{
    transform:rotate(45deg);
    font-size: 16px;
}

.move2{
    margin: 10px;
    font-size: 16px;
    transition: all .2s ease-in-out;
}
.box16 .footerItems div .item1:hover{
    transform: translateY(-4px);
}

.box16 > .center{
     position: relative;
     padding-top: 30px;
}
.box16 .left{
    position: relative;
    right:120px;
} 

.box16 .left:hover{
    cursor: pointer;
    color: #d86422;
    text-shadow: 1px 1px 1px rgb(17, 17, 17);
} 

.box16 .right{
    position: relative;
    left:98px;
} 


























@media screen and (max-width:1270){
    /* .grid-container >.box10{
        justify-self: center;
        grid-column: 1/2;
        margin: 10px 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        height: auto;
        border:solid 1px black;
        
    
    }
     */
       
}





/* box5 starts here */


/* Responsive design starts here
@media  (min-width:768px) and (max-width:1019px){
*/



/* Tablet responsive design starts here */

@media  (min-width:480px) and (max-width:1019px){

   
    #box1{
        display: none;
    }
    #box2{
         position: relative;
         border: solid 0px black;
         height: 200px;
    }

    #logo-image{
        width: 500px;
        height:200px !important;
        border:solid 0px black;

    }

    
/* Mobile nav starts here */

.navMobile{
    display:initial;
     top: 60px;
    background-color: #008dc9;
    width:80px;
    height: 70px;;
    position: absolute;
    right: 0;
    margin-right: 40px;
    border-radius: 5px;
}

.navMobile .shapes{
    width: 60px;
    height: 8px;
    background-color:white;
    margin: 10px 5px 5px 9px;
    justify-items: center;
    border-radius: 5px;
}

/* Mobile nav Ends here */


    #box2 img{
        width:300px;
        height: 400px;
        margin-left: 30px;
    }
    #box3{
       display: none;
    }


    /* Box 4 starts here */
    #box4{
        display: flex;
        flex-direction:row;
        margin-top: 64px;
        margin-left: 25px;
        margin-right: 25px;
        font-size: 20px;
        color: #000;
        border: solid 0px black;
        height: auto;
        flex-wrap: wrap;

      
    }

    .details{
        height: 500px;
    }

    .websrc{
        width: 50%;
        height: 500px;
        border: solid 0px black;
        position: relative;
        left: 15px;
        background-color: rgba(238, 236, 236, 0.959);
    }

    #box4 #anotherrow{
        border:solid 0px black;
        flex-direction: row;

                
    }
    .external-ref{
        width: 50%;
        height: 500px;
        border: solid 0px black;
        background-color: rgba(248, 252, 243, 0.959);
        margin: 20px;
    }

    .outerLink{
        background-color: rgb(255, 249, 249);
        width: auto;
        border: solid 0px black;
        height: 70px;
        
    }

    
    .txt{
        width:auto;
        height: 50px;
        background-color: rgb(255, 253, 253);
        box-shadow: .4px .6px 5px rgb(197, 192, 192);
        margin: 0px;
        padding-top: 17px;
        border-bottom: solid 0px black;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        padding-left: 8px;
        position: relative;
        font-weight: bold;
        font-size: 20px;
    }

    #Emergency{
        font-size:1.7em;
        font-weight: bold;
        word-spacing:inherit;
        margin-top: 10px;
        margin-right:60px;
    }

    
    #covidText{
    right: 20px;
    font-size: 42px;
    position: relative;
    top: 40px;
}

.imgwho{
    width: 90%;
    height: auto;

}


#btn-Allinfo{
    position: relative;
    top: 120px;
    width: 190px;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: bold;
    font-size: 26px;
    color:#e71b36;
    background-color: white;
    outline: none;
    left: -28px;
    border-style: none;
}


#textHeading, #text-details{
    font-size: 26px;
}

#secondhr{
    width: 100%;
    margin-left: 30px;
    position: relative;
    bottom: 10px;
    height:3px;
    background-color: rgb(235, 29, 29);

}



/* News starts here */
#box6{
  grid-column:1/5

}

#box7{
    grid-column:1/5
}


#box8{
    grid-column:1/5
}

#box9{
    grid-column:1/5
}

.group{
    justify-self: center;
    width: 80%;
    margin: 24px 18px;
    height: auto;
    border: solid 0px black;
    background-color:#fafafa;
    border-radius: 10px 30px 0px 0px;
    border-radius: 10px;
}


.txt-news{
    font-size: 25px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 8px;
    text-align: center;
}

.txt-style{
    margin: auto;
    width: 80%;
    font-size: 22px;
    color: rgb(56, 55, 55);
    padding: 0px 50px 20px 0px;
    font-family:var(--myfont);
    
}



.txt-txt{
    text-align: left;
    font-weight: bolder;
    line-height: 24px;
}
.last{
    height: 200px;
}



/* News Ends here */



.box11{
grid-column: 1/5;

}

.box11 #middle{
    visibility: hidden;
}

.box11 .Htext{
    width: 100%;
    margin: 10px 13px;
    box-sizing: border-box;
    color: rgb(88, 85, 85);
    font-size: 4vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom:solid 1px rgb(224, 220, 220);
    padding-left: 15px;
    padding-bottom: 8px;
   

   
    
}
.h3text{

    position: relative;
    top: 20px;
    
}

.grid-container >.box10{
    justify-self: center;
    grid-column: 1/5;
    margin: 20px 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 1800px;
   

    

}

.box10 .colum{
    max-width: 100%;
    border: solid 0px rgb(201, 32, 32);
    height: 500px;
    margin: 13px 15px;
    box-sizing: border-box;
    font-size:20vh;
    border-radius:0px 0px 10px 10px;
    
    
}

#yHeadertext{
    font-size:.6em;
    line-height:1.2em;
    
}

.yHeadertextBu{
    width: 300px;
    height: 70px;
    font-size: 32px;
    color: white;
    border-radius: 10px;
    outline: none;
    border-style: none;
    background-color: #d86422;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:50px;
    right: 200px;
 }

.box12{
    grid-column: 1/5;
    /* margin: 50px 10px; */
    margin-bottom: 0px;
    margin-top:100px;
    margin-left: 10px;
    margin-right:10px; 
    height: auto;
    color: rgb(58, 56, 56);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
   position: relative;
   padding: 0px 130px;
   text-align: left;
   font-style: italic;
}



.box13{
    grid-column: 1/5;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-self: center;
    margin-bottom: 10px;
}
.box13 > .colum2{
    justify-self: center;
    width: 80%;
    height: auto;
    border:solid 0px black;
    margin: 20px 17px ;
    position: relative;

}


#video-thumbnail{
    width: 100%;
    box-sizing:content-box;
    
  
}


iframe{
    width: 610;
    height: 416;
}

#library2{
    background-image: url(../images/library2.jpeg);
    background-position: center;
    background-size: cover;
    background-position: center center;
    width:100%;
    height:416px;
   
    position: relative;
   
    
}

#president{
    background-image: url(../images/president.jpg);
    background-position: center;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:416px;
    box-sizing: border-box;
  

   
}

.library-content{
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color:rgba(0,126,180,1);
    font-size: 19px;
    position: absolute;
    bottom: 0px;
    text-align: left;
    transition: all 0.3s ease;
    
}





.box14{
    grid-column:1/5;
    display: flex;
    flex-direction: column;
    height: auto;
   align-items: center;
   position: relative;
   top: 20px;
   
}

.events{
    width: 90%;
    height: auto;
    border: solid 0px black;
    justify-self: center;
    padding-top: 10px;
    margin-top: 40px;
}

#eImg{
    background-image: url(../images/people.jpg);
    background-position: center center;
    background-size:contain;
    background-clip:border-box;
    background-position-y: -0px;
    position: relative;
    width: 90%;
    height: 416px;
    
}
.library-content{
  
    padding-bottom: 10px;
}

.assocLinks{
    width: 98%;
    height: auto;
    box-sizing: content-box;
    border: solid 0px black;
}


.smallDiv{
    width:20%;
    height: 100px;

 
 }

 .one, .two, .three{
     width:15%;
     height: auto !important;
 }
 

 #box15ItemButton{
    border-radius: 5px;
    background-color: rgb(66, 64, 64);
    font-size: 1.1em;
    width: 200px;
    height: auto;
    color: rgb(255, 247, 247);
    font-size: bold;
    right: 0;
    margin-top: 20px;
    margin-right: 10px;
    outline: none;
    position: absolute;
}



.box16 .left{
    position: relative;
    right:0px;
} 
.box16 .right{
    position: relative;
    left:0px;
} 





















    
   
}










/* Mobile device responsive design starts here */
/* 
@media  (min-width:480px) and (max-width:768px) {

    .grid-container {
        display: inline-grid;
        grid-template-columns: 1fr 1fr ;
        width: 100%;
      }
     

      .grid-item {
        height: auto;
        border: 0px solid rgb(29, 28, 28);
        color:white;
        font-size: 2em;
        text-align: center;
    }


#box1{
    display: none;
} 

.rightItems{
    position:relative;
   left: -70px;
   padding: 0px 20px;
}




}
 */









